.hamburger__menu__container {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 0 auto;
  padding-top: 12px;
  position: fixed;
  right: 0;
}

.hamburger__menu__container label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60px;
  cursor: pointer;
  overflow: hidden;
}

.hamburger__menu__container label span {
  background: var(--primary-color);
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;
  transition: 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transition: 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -moz-transition: 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -ms-transition: 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -o-transition: 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger__menu__container span:nth-of-type(1) {
  width: 80%;
}

.hamburger__menu__container span:nth-of-type(2) {
  width: 55%;
}

.hamburger__menu__container span:nth-of-type(3) {
  width: 80%;
}

.hamburger__menu__container input[type="checkbox"] {
  display: none;
}

.hamburger__menu__container
  input[type="checkbox"]:checked
  ~ span:nth-of-type(1) {
  transform-origin: center;
  transform: rotatez(45deg) translateY(20px);
  -webkit-transform: rotatez(45deg) translateY(20px);
  -moz-transform: rotatez(45deg) translateY(20px);
  -ms-transform: rotatez(45deg) translateY(20px);
  -o-transform: rotatez(45deg) translateY(20px);
}

.hamburger__menu__container
  input[type="checkbox"]:checked
  ~ span:nth-of-type(2) {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -ms-transform: translateX(-190%);
  -o-transform: translateX(-190%);
}

.hamburger__menu__container
  input[type="checkbox"]:checked
  ~ span:nth-of-type(3) {
  transform-origin: center;
  transform: rotateZ(-45deg) translateY(-20px);
  -webkit-transform: rotateZ(-45deg) translateY(-20px);
  -moz-transform: rotateZ(-45deg) translateY(-20px);
  -ms-transform: rotateZ(-45deg) translateY(-20px);
  -o-transform: rotateZ(-45deg) translateY(-20px);
}

/* Hide On Larger Devices */
@media only screen and (min-width: 577px) {
  .hamburger__menu__container {
    display: none;
  }
}
