.landing__page__container {
  min-height: 96vh;
  padding: 80px 28px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landing__page__left {
  width: 100%;
  margin: auto auto;
}
.landing__page__left p:nth-of-type(1) {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1em;
  font-family: "SF Mono";
  letter-spacing: 1.5px;
}
.landing__page__left h1 {
  text-transform: capitalize;
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-family: "Roboto Mono";
}
.landing__page__left h5 {
  font-size: 1.2em;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 16px;
  font-family: "Roboto Mono";
}
.landing__page__left p:nth-of-type(2) {
  margin-bottom: 50px;
  line-height: 1.6;
  font-family: "Montserrat";
  font-size: 1em;
  letter-spacing: 1px;
}

.landing__page__left a {
  background-color: var(--primary-color);
  text-decoration: none;
  color: black;
  padding: 12px 46px;
  font-size: 1.4rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.landing__page__right {
  display: none;
  width: 30%;
  max-height: 600px;
  object-fit: contain;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .landing__page__left {
    width: 80%;
  }
  .landing__page__left p:nth-of-type(1) {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  .landing__page__left h1 {
    font-size: 3.4em;
    letter-spacing: 2px;
  }
  .landing__page__left h5 {
    font-size: 1.3rem;
  }
  .landing__page__left p:nth-of-type(2) {
    font-size: 1em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .landing__page__left {
    width: 60%;
  }
  .landing__page__right {
    width: 30%;
    display: inline-block;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1400px) {
  .landing__page__left {
    width: 60%;
  }
  .landing__page__right {
    display: inline-block;
    width: 30%;
    margin-right: 2%;
  }
}

@media only screen and (min-width: 1401px) {
  .landing__page__left {
    width: 50%;
  }
  .landing__page__right {
    display: inline-block;
    width: 28%;
    margin-right: 5%;
  }
  .landing__page__container {
    padding: 80px 28px;
    padding-bottom: 70px;
  }
}
