.main__menu__container {
  /* background-color: yellow; */
  display: flex;
  height: 100%;
  align-items: center;
}
.main__menu__container ul {
  list-style: none;
  margin: 0 12px 0 auto;
  width: 42%;
  display: flex;
  justify-content: space-between;
}

.main__menu__container ul div li {
  margin-bottom: 3px;
}

.main__menu__border {
  width: 0%;
  height: 2px;
  background-color: yellow;
  transition: 1200ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transition: 1200ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -moz-transition: 1200ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -ms-transition: 1200ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -o-transition: 1200ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.main__menu__border:hover {
  width: 100%;
}

.main__menu__container ul a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.55px;
}
.main__menu__cta__button {
  background-color: var(--primary-color);
  padding: 8px 32px;
  margin: 0 16px 0 32px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* Targeting on hover */

/* Hide On Smaller Devices */
@media only screen and (max-width: 577px) {
  .main__menu__container {
    display: none;
  }
}

/* Responsive Design for Larger Devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__menu__container ul {
    width: 38%;
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main__menu__container ul {
    width: 34%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main__menu__container ul {
    width: 30%;
    font-size: 19px;
  }
}

@media only screen and (min-width: 1400px) {
  .main__menu__container ul {
    width: 20%;
    font-size: 20px;
  }
}
