@font-face {
  font-family: "SF Mono";
  src: url("../../../public/assets/fonts/SF-Mono/SFMonoRegular.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../public/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../../../public/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Architects Daughter";
  src: url("../../../public/assets/fonts/Architects-Daughter/ArchitectsDaughter-Regular.ttf");
}
